// Design Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All styling, non box model properties go here

@import 'partials/nav';
@import 'partials/nav-main';
@import 'partials/buttons';
@import 'partials/event-table';
@import 'partials/social-media';
@import 'partials/sponsors';


// Misc
.credit {
  @extend %l-row;
  margin-bottom: 0;

  font-size: em(14);
  text-align: right;

  a {
    text-decoration: none;
  }
}
