// Layout Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file.
//
// All box model properties go here

%l-container {
  clear: both;
  width: 100%;
  text-align: center;

  @extend %clearfix;
}

%l-row {
  clear: both;
  width: 100%;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  @extend %clearfix;
}

.l-container {
  @extend %l-container;
}

.l-row {
  @extend %l-row;
}

// Header
#header {
  padding-bottom: em(18);
}

// Content
#content {
  padding-top: em($base-line-height);
}

// Footer
#footer {
  @include padding-leader(1.5);
  @include padding-trailer(1.5);
}
