// Mixins Partials
//
// All of your mixins should go in this file.

@mixin link($color: $color-link) {
  &, &:link, &:focus {
    color: $color;
  }
  &:visited {
    color: darken($color, 5%);
  }
  &:hover {
    color: darken($color, 15%);
  }
}
