// Variables Partials
//
// All of your variables should go in this file.

// Font families
$font-family-serif: 'Bree Serif', serif;
$font-family-sans: 'Asap', sans-serif;

// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 25px;

// Layout
$max-width: 920px;

// Colors
$color-body: #39454B;

$color-header-bg: #50ACCA;
$color-footer-bg: #39454B;
