// Variables Partials
//
// All of your variables should go in this file.

// Font families
$font-family-serif: 'Bree Serif', serif;
$font-family-sans: 'Asap', sans-serif;

// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 25px;
