// Variables Partials
//
// All of your variables should go in this file.

// Font families
$font-family-serif: 'Bree Serif', serif;
$font-family-sans: 'Asap', sans-serif;

// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 25px;

// Layout
$max-width: 920px;

$grids: 12;
$gutters: 1;

// Colors
$color-body:     #39454B;
$color-link:     #50ACCA;
$color-link-alt: #FFCB66;

$color-border: #DCEEF4;
$color-notice: #FDB813;

$color-form-color: #6E8591;
$color-form-border: #A7D5E4;

$color-table-border: $color-border;
$color-table-zebra: #F6FBFC;

$color-light: #DEF2FE;
$color-light-grey: #E5E7E8;

$color-header-bg: $color-link !default;
$color-footer-bg: $color-body !default;
