@charset "UTF-8";
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

.menu--social-media .item-facebook, .menu--social-media .item-twitter, .menu--social-media .item-email, .logo-air {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}

.l-container:after, .l-row:after, .credit:after, .speakers--teaser-table:after {
  content: "";
  display: table;
  clear: both;
}

.l-container:after, .l-row:after, .credit:after, .speakers--teaser-table:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5625em;
}

h1 {
  font-size: 2.25em;
  line-height: 2.08333em;
}

h2 {
  font-size: 1.625em;
  line-height: 0.96154em;
  margin-bottom: 0.96154em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 1.25em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.38889em;
  margin-bottom: 1.38889em;
}

h5 {
  text-transform: uppercase;
  margin-bottom: 1.5625em;
}

h6 {
  font-size: 0.875em;
  line-height: 1.78571em;
  margin-bottom: 1.78571em;
}

p {
  margin-bottom: 1.5625em;
}

hr {
  margin-top: 2.34375em;
  margin-bottom: 2.34375em;
}

form {
  margin-bottom: 1.5625em;
}

textarea, input {
  font-size: 0.875em;
  line-height: 1.78571em;
  margin-bottom: 0.89286em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

table {
  margin-bottom: 1.5625em;
}
table td {
  padding: 1.375em 1.25em;
}

body {
  color: #39454b;
  font-family: "Asap", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Bree Serif", serif;
}

h5 {
  font-weight: 700;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #dceef4;
}

strong, b, label {
  font-weight: 700;
}

em, i {
  font-style: oblique;
}

a, a:link, a:focus {
  color: #50acca;
}
a:visited {
  color: #3ca3c4;
}
a:hover {
  color: #30839e;
}

ol {
  list-style-type: decimal;
  padding-left: 2em;
}

textarea, input[type=text] {
  padding: 0.57143em 0.71429em;
  border: 2px solid #a7d5e4;
  font-family: "Asap", sans-serif;
  color: #6e8591;
}

table {
  border-bottom: 1px solid #dceef4;
}
table tr {
  border-top: 1px solid #dceef4;
}

.l-container {
  clear: both;
  width: 100%;
  text-align: center;
}

.l-row, .credit {
  clear: both;
  width: 100%;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.l-left-sidebar {
  width: 21.73913%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

.l-right-sidebar {
  width: 21.73913%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.l-column--two-sidebars {
  width: 47.82609%;
  float: left;
  margin-right: -100%;
  margin-left: 26.08696%;
  clear: none;
}

.l-column--left-sidebar {
  width: 73.91304%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.l-column--right-sidebar {
  width: 73.91304%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

#header {
  padding-bottom: 1.125em;
}

#main {
  padding-top: 1.5625em;
}

#footer {
  padding-top: 2.34375em;
  padding-bottom: 2.34375em;
}

.main--home .l-row {
  padding-top: 1.5625em;
  padding-bottom: 1.5625em;
}

#header {
  background-color: #50acca;
}
#header .l-row {
  text-align: center;
}

.header--logo {
  font-size: 3em;
  line-height: 1.5625em;
  text-transform: uppercase;
  letter-spacing: 0.04167em;
}
.header--logo a {
  color: #39454b;
  text-decoration: none;
}

.header--tagline {
  font-size: 1.5em;
  line-height: 1.04167em;
  line-height: 1.30208em;
  margin-bottom: 1.5625em;
  color: #def2fe;
  font-weight: 100;
  letter-spacing: 0.04167em;
}

#footer {
  background-color: #39454b;
  color: white;
  color: rgba(255, 255, 255, 0.45);
}

.credit {
  margin-bottom: 0;
  font-size: 0.875em;
  text-align: right;
}
.credit a {
  text-decoration: none;
}

.pager {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0.875em;
  line-height: 1.78571em;
  font-weight: 700;
}
.pager:after {
  content: "";
  display: table;
  clear: both;
}
.pager li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.pager li:first-child, .pager li.first {
  padding-left: 0;
}
.pager li:last-child {
  padding-right: 0;
}
.pager li.last {
  padding-right: 0;
}
.pager a {
  border-bottom: 1px solid #e5e7e8;
  text-decoration: none;
}
.pager a, .pager a:link, .pager a:focus {
  color: #ffcb66;
}
.pager a:visited {
  color: #ffc24d;
}
.pager a:hover {
  color: #ffb11a;
}

.pager--mini .last {
  border-left: 2px solid #ffcb66;
}

#header .menu--main {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3125em;
  line-height: 3.57143em;
  text-transform: uppercase;
}
#header .menu--main:after {
  content: "";
  display: table;
  clear: both;
}
#header .menu--main li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 13px;
  padding-right: 13px;
}
#header .menu--main li:first-child, #header .menu--main li.first {
  padding-left: 0;
}
#header .menu--main li:last-child {
  padding-right: 0;
}
#header .menu--main li.last {
  padding-right: 0;
}
#header .menu--main li {
  padding-top: 0;
}
#header .menu--main li:before {
  content: '·';
  position: absolute;
  margin-left: -0.75em;
}
#header .menu--main li:first-child:before {
  display: none;
}
#header .menu--main a {
  color: #39454b;
  text-decoration: none;
}
#header .menu--main a:hover, #header .menu--main a.active {
  color: white;
}
@media screen and (max-width: 700px) {
  #header .menu--main {
    display: none !important;
  }
}

.bottom .menu--main {
  margin: 0 5%;
  width: 90%;
  background: white;
  display: inline-block;
  font-size: 1.3125em;
  line-height: 3.57143em;
  text-transform: uppercase;
}
.bottom .menu--main li {
  text-align: center;
  width: 100%;
  margin-bottom: 0.9375em;
  height: 3.75em;
  background: #50acca;
}
.bottom .menu--main li:hover {
  background: #3693b1;
}
.bottom .menu--main a {
  color: white;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 0.59375em;
  border: none;
  background-color: #50acca;
  font-size: 1em;
  line-height: 1.5625em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button, .button:link, .button:visited {
  color: white;
}
.button:hover {
  background-color: #ffcb66;
}
.button.small {
  min-width: 170px;
}
.button.medium {
  min-width: 255px;
}

.event--table td {
  vertical-align: top;
}

.event--break {
  background-color: #f6fbfc;
}

.event--session-multiple {
  border-top: none;
}
.event--session-multiple .event--time {
  text-indent: -9999px;
}

.event--description {
  padding-left: 0;
}

.event--speaker {
  width: 25.53191%;
  color: #50acca;
}
.event--speaker a {
  margin-left: 1.35em;
  white-space: nowrap;
}
.event--speaker a:first-child {
  margin-left: 0;
}

.event--notice {
  color: #fdb813;
  font-weight: 700;
}

.ie6 .menu--social-media .item-facebook, .ie7 .menu--social-media .item-facebook, .ie8 .menu--social-media .item-facebook, .ie6 .menu--social-media .item-twitter, .ie7 .menu--social-media .item-twitter, .ie8 .menu--social-media .item-twitter, .ie6 .menu--social-media .item-email, .ie7 .menu--social-media .item-email, .ie8 .menu--social-media .item-email {
  background-image: url('../images/social-se8c079db5f.png');
  background-repeat: no-repeat;
}

.block--social-media {
  float: left;
}

.menu--social-media {
  margin: 0;
  padding: 0;
  border: 0;
}
.menu--social-media:after {
  content: "";
  display: table;
  clear: both;
}
.menu--social-media li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 13px;
  padding-right: 13px;
}
.menu--social-media li:first-child, .menu--social-media li.first {
  padding-left: 0;
}
.menu--social-media li:last-child {
  padding-right: 0;
}
.menu--social-media li.last {
  padding-right: 0;
}
.menu--social-media .item-facebook {
  width: 28px;
  height: 28px;
}
.ie6 .menu--social-media .item-facebook, .ie7 .menu--social-media .item-facebook, .ie8 .menu--social-media .item-facebook {
  background-position: 0 -56px;
}
@media (max-resolution: 1.4dppx), (-webkit-max-device-pixel-ratio: 1.4), (max--moz-device-pixel-ratio: 1.4), (max-resolution: 134.4dpi) {
  .menu--social-media .item-facebook {
    background-image: url('../images/social-se8c079db5f.png');
    background-repeat: no-repeat;
    background-position: 0 -56px;
  }
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .menu--social-media .item-facebook {
    background-image: url('../images/social_2x-s046e0bc0c2.png');
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: 0 -112px;
  }
}
.menu--social-media .item-twitter {
  width: 28px;
  height: 28px;
}
.ie6 .menu--social-media .item-twitter, .ie7 .menu--social-media .item-twitter, .ie8 .menu--social-media .item-twitter {
  background-position: 0 0;
}
@media (max-resolution: 1.4dppx), (-webkit-max-device-pixel-ratio: 1.4), (max--moz-device-pixel-ratio: 1.4), (max-resolution: 134.4dpi) {
  .menu--social-media .item-twitter {
    background-image: url('../images/social-se8c079db5f.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .menu--social-media .item-twitter {
    background-image: url('../images/social_2x-s046e0bc0c2.png');
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: 0 0;
  }
}
.menu--social-media .item-email {
  width: 28px;
  height: 28px;
}
.ie6 .menu--social-media .item-email, .ie7 .menu--social-media .item-email, .ie8 .menu--social-media .item-email {
  background-position: 0 -28px;
}
@media (max-resolution: 1.4dppx), (-webkit-max-device-pixel-ratio: 1.4), (max--moz-device-pixel-ratio: 1.4), (max-resolution: 134.4dpi) {
  .menu--social-media .item-email {
    background-image: url('../images/social-se8c079db5f.png');
    background-repeat: no-repeat;
    background-position: 0 -28px;
  }
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .menu--social-media .item-email {
    background-image: url('../images/social_2x-s046e0bc0c2.png');
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: 0 -56px;
  }
}
.menu--social-media li {
  padding-top: 0;
}
.menu--social-media a {
  display: inline-block;
  vertical-align: top;
}

.block--sponsors {
  float: right;
}
.block--sponsors h2 {
  font-family: "Asap", sans-serif;
  font-size: 0.75em;
  line-height: 1;
  margin-bottom: -1em;
}

.ie6 .logo-air, .ie7 .logo-air, .ie8 .logo-air {
  background-image: url('../images/logos-sb8337550bf.png');
  background-repeat: no-repeat;
}

.logo-air {
  width: 282px;
  height: 61px;
  display: inline-block;
}
.ie6 .logo-air, .ie7 .logo-air, .ie8 .logo-air {
  background-position: 0 0;
}
@media (max-resolution: 1.4dppx), (-webkit-max-device-pixel-ratio: 1.4), (max--moz-device-pixel-ratio: 1.4), (max-resolution: 134.4dpi) {
  .logo-air {
    background-image: url('../images/logos-sb8337550bf.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .logo-air {
    background-image: url('../images/logos_2x-sd91ac479c4.png');
    background-repeat: no-repeat;
    background-size: 282px 61px;
    background-position: 0 0;
  }
}

.speakers--grid > div {
  padding-top: 0.78125em;
}
.speakers--grid .speakers--teaser {
  width: 21.73913%;
  clear: right;
  float: left;
  margin-left: 0%;
  margin-right: 4.34783%;
  margin-bottom: 2.34375em;
  border-bottom: 1px dotted #b7c2c8;
}
.speakers--grid .speakers--teaser:nth-child(4n) {
  width: 21.73913%;
  clear: right;
  float: right;
  margin-right: 0%;
}

.speakers--teaser .title {
  margin-bottom: 0.78125em;
  font-family: "Asap", sans-serif;
  font-size: 1em;
  text-align: center;
}
.speakers--teaser img {
  width: 100%;
  height: auto;
}
.speakers--teaser p {
  font-size: 0.875em;
  line-height: 1.78571em;
  margin-bottom: 0.89286em;
}

.speakers--teaser-table {
  padding-top: 2.34375em;
  padding-bottom: 2.34375em;
  border-top: 1px solid #dceef4;
}
.speakers--teaser-table img {
  width: 21.73913%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
.speakers--teaser-table > div {
  width: 47.82609%;
  float: left;
  margin-right: -100%;
  margin-left: 26.08696%;
  clear: none;
}
.speakers--teaser-table footer {
  width: 21.73913%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-top: 3.125em;
}
.speakers--teaser-table footer a {
  display: block;
}

.link--speaker {
  border-bottom: 1px solid #e5e7e8;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.section--header p {
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 1.875em;
  font-family: "Bree Serif", serif;
}

.testimonials--form h2 {
  line-height: 1.40533em;
}
.testimonials--form textarea {
  margin-bottom: 0.78125em;
  min-height: 120px;
  width: 100%;
  vertical-align: top;
}
.testimonials--form input {
  vertical-align: top;
}

.testimonials--list header {
  float: left;
}
.testimonials--list .pager {
  float: right;
}
.testimonials--list .title {
  font-size: 1.125em;
  line-height: 1.38889em;
  margin-bottom: 1.38889em;
}
.testimonials--list article {
  clear: both;
}

.block--text-info .title {
  margin-top: 0.69444em;
  margin-bottom: 0.69444em;
}
.block--text-info p {
  font-size: 0.875em;
  line-height: 1.78571em;
}

.block--stats {
  text-align: center;
}
.block--stats .title, .block--stats p {
  font-size: 1.125em;
  line-height: 1.38889em;
  margin-top: 0.69444em;
  margin-bottom: 0;
}
.block--stats p {
  margin-top: 0;
  font-family: "Bree Serif", serif;
}

.block--stats-count {
  font-size: 3em;
  line-height: 1.5625em;
  color: #6E8591;
  font-weight: 700;
  line-height: 1;
}
.block--stats-count em {
  display: block;
  margin-bottom: 0.25em;
  font-size: 0.25em;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.program {
  padding-top: 2.34375em;
  border-top: 1px solid #dceef4;
}

.program--nav {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 1.5625em;
}
.program--nav:after {
  content: "";
  display: table;
  clear: both;
}
.program--nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 13px;
  padding-right: 13px;
}
.program--nav li:first-child, .program--nav li.first {
  padding-left: 0;
}
.program--nav li:last-child {
  padding-right: 0;
}
.program--nav li.last {
  padding-right: 0;
}
.program--nav li {
  border-left: 3px solid #39454b;
}
.program--nav li:first-child {
  border-left: none;
}
.program--nav a {
  border-bottom: 1px solid #e5e7e8;
  font-size: 1.625em;
  line-height: 0.96154em;
  font-family: "Bree Serif", serif;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.program--nav a.active {
  color: #39454b;
  border-bottom: none;
}

.js .program--day {
  display: none;
}
.js .program--day.active {
  display: block;
}

.program--header {
  margin-bottom: 1.5625em;
}
.program--header p {
  margin-bottom: 0;
}
.program--header ol {
  padding-left: 2.5em;
}
.program--header li {
  font-weight: 700;
}
