*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

.l-container:after, .l-row:after {
  content: "";
  display: table;
  clear: both;
}

.l-container:after, .l-row:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5625em;
}

h1 {
  font-size: 2.25em;
  line-height: 1.38889em;
}

h2 {
  font-size: 1.625em;
  line-height: 1.92308em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.38889em;
}

h5 {
  text-transform: uppercase;
}

h6 {
  font-size: 0.875em;
  line-height: 1.78571em;
}

body {
  color: #39454b;
  font-family: "Asap", sans-serif;
  background: url('../images/grid-25px.png?1375179799');
}

h1, h2, h3, h4 {
  font-family: "Bree Serif", serif;
}

.l-container {
  clear: both;
  width: 100%;
  text-align: center;
}

.l-row {
  clear: both;
  width: 100%;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#header {
  padding-bottom: 1.125em;
  background-color: #50acca;
}
#header .l-row {
  text-align: center;
}

.header--logo {
  font-size: 3em;
  line-height: 1.5625em;
  text-transform: uppercase;
  letter-spacing: 0.04167em;
}

.header--tagline {
  font-size: 1.5em;
  line-height: 1.04167em;
  line-height: 1.30208em;
  margin-bottom: 1.5625em;
  color: white;
  font-weight: 100;
  letter-spacing: 0.04167em;
}

#footer {
  background-color: #39454b;
}

.menu--main {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3125em;
  line-height: 3.57143em;
  text-transform: uppercase;
}
.menu--main:after {
  content: "";
  display: table;
  clear: both;
}
.menu--main li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 13px;
  padding-right: 13px;
}
.menu--main li:first-child, .menu--main li.first {
  padding-left: 0;
}
.menu--main li:last-child {
  padding-right: 0;
}
.menu--main li.last {
  padding-right: 0;
}
.menu--main a {
  color: #39454b;
  text-decoration: none;
}
.menu--main a:hover, .menu--main a.active {
  color: white;
}
