$button-padding: (44 - $base-line-height);

.button {
  display: inline-block;
  padding: em($button-padding / 2);
  border: none;

  background-color: $color-link;

  @include adjust-font-size-to(16px);
  line-height: em($base-line-height);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &, &:link, &:visited {
    color: white;
  }
  &:hover {
    background-color: $color-link-alt;
  }

  &.small {
    min-width: 170px;
  }
  &.medium {
    min-width: 170px * 1.5;
  }
}
