.event--table {
  td {
    vertical-align: top;
  }
}

.event--break {
  background-color: $color-table-zebra;
}

.event--session {
}

.event--session-multiple {
  border-top: none;

  .event--time {
    text-indent: -9999px;
  }
}

.event--time {}

.event--description {
  padding-left: 0;
}

.event--speaker {
  width: (240/940) * 100%;
  color: $color-link;

  a {
    margin-left: 1.35em;
    white-space: nowrap;

    &:first-child {
      margin-left: 0;
    }
  }
}

.event--notice {
  color: $color-notice;
  font-weight: 700;
}
