// Header
#header {
  background-color: $color-header-bg;

  .l-row {
    text-align: center;
  }
}
.header--logo {
  @include adjust-font-size-to(48px, 3);
  text-transform: uppercase;
  letter-spacing: em(2,48);

  a {
    color: $color-body;
    text-decoration: none;
  }
}
.header--tagline {
  @include adjust-font-size-to(24px, 1);
  @include adjust-leading-to(30/24, 24px);
  @include margin-trailer(1);

  color: $color-light;
  font-weight: 100;
  letter-spacing: em(1,24);
  text-decoration: none !important;
}
.header--menubutton a {
  @include adjust-font-size-to(24px, 1);
  @include adjust-leading-to(30/24, 24px);
  @include margin-trailer(1);

  color: $color-light;
  font-weight: 100;
  letter-spacing: em(1,24);
}
// Main Content
#main {
}

// Footer
#footer {
  background-color: $color-footer-bg;
  color: white;
  color: transparentize(white, 0.55);
}

// Misc
.credit {
  @extend %l-row;
  margin-bottom: 0;

  @include adjust-font-size-to(14px);
  text-align: right;

  a {
    text-decoration: none;
  }
}
