.nav--main {
}

#header .menu--main {
  @include horizontal-list(13px);
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

  @include adjust-font-size-to(21px, 3);
  text-transform: uppercase;

  li {
    padding-top: 0;
  }
  li:before {
    content: '·';

    position: absolute;
    margin-left: em(-12px);
  }
  li:first-child:before {
    display: none;
  }
  a {
    color: $color-body;
    text-decoration: none;

    &:hover,
    &.active {
      color: white;
    }
  }
  @include breakpoint($breakpoint-non-narrow) {
    display: none;
  }
}

#bottom-menu .menu--main {
  margin: 0 5%;
  width: 90%;
  background: white;
  display: inline-block;
  @include adjust-font-size-to(21px, 3);
  text-transform: uppercase;
  
  li {
    text-align: center;
    width: 100%;
    margin-bottom: em(15);
    height: em(60);
    background: $color-link;

    &:hover{
      background: darken($color-link, 10%);
    }
  }

  a {

    color: white;
    text-decoration: none;

    &:hover,
    &.active {
    }
  }
  @include breakpoint($breakpoint-narrow) {
    display: none;
  }
}
