.speakers--grid {
  & > div {
    @include padding-leader(0.5);
  }
  .speakers--teaser {
    @include float-span(3);
    margin-bottom: em($base-line-height * 1.5);
    border-bottom: 1px dotted lighten($color-body-light, 25%);

    &:nth-child(4n) {
      @include float-span(3, omega);
    }
  }
}

.speakers--teaser {
  .title {
    @include margin-trailer(0.5);
    font-family: $font-family-sans;
    @include adjust-font-size-to(16px);
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  p {
    @include adjust-font-size-to(14px);
    @include margin-trailer(0.5, 14px);
  }
}

.speakers--teaser-table {
  @include padding-leader(1.5);
  @include padding-trailer(1.5);
  @extend %clearfix;

  border-top: 1px solid $color-border;

  img {
    @include grid-span(3,1);
  }
  > div {
    @include grid-span(6,4);
  }
  footer {
    @include grid-span(3,10);
    @include margin-leader(2);

    a {
      display: block;
    }
  }
}

.link--speaker {
  border-bottom: 1px solid $color-light-grey;
  font-weight: 700;
  text-decoration: none;

  @include transition(color 0.5s);
}

//
.section--header {
  p {
    @include adjust-font-size-to(20px);
    @include margin-trailer(1.5,20px);
    font-family: $font-family-serif;
  }
}
