.block--sponsors {
  float: right;

  h2 {
    font-family: $font-family-sans;
    @include adjust-font-size-to(12px);
    line-height: 1;
    margin-bottom: -1em;
  }
}

// Logos
$logos: 'logos';
$logos-names: air;
@include sprite-map-generator($logos, 'retina');

@each $i in $logos-names {
  .logo-#{$i} {
    @include replace-text-pe($logos, $i, 'retina');
    display: inline-block;
  }
}
