.testimonials--form {
  h2 {
    @include adjust-leading-to(38/26, 26px);
    @include leader(1,26px);
  }
  textarea {
    @include margin-trailer(0.5);
    min-height: 120px;
    width: 100%;
    vertical-align: top;
  }
  input {
    vertical-align: top;
  }
}

.testimonials--list {
  header {
    float: left;
  }
  .pager {
    float: right;
  }
  .title {
    @include adjust-font-size-to(18px);
    @include margin-trailer(1, 18px);
  }
  article {
    clear: both;
  }
}

.testimonials {}
